# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyDFfgoXOK96TCI8Rgwz4nCSUFewCBFbQBo
VITE_FIREBASE_AUTH_DOMAIN=panda-tv-d685f.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=panda-tv-d685f
VITE_FIREBASE_STORAGE_BUCKET=panda-tv-d685f.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=554686804071
VITE_FIREBASE_APP_ID=1:554686804071:web:05dae18e2687acfc8be4c2

# IPTV API Configuration
IPTV_API_KEY=4d00cfe87d456bca738436c5f93a7e17
